/**{
  border: 1px solid orange;
}*/

body{
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vw;
  margin: 0;
  background-image: url('./images/michal-grosicki-366020.jpg');
  background-size: contain;
}

.container{
  background: green;
  margin-top: 2vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 15vw;
  background: none;
  width: 33.6vw;
  height: 44vw;
  position: relative;
  outline: none;
}
.row-one{
  border: 1px solid grey;
  height: 8.6vw;
  width: 32.7vw;
  background-color: #76e576;
}


.row-two{
  background-color: #76e576;
  border: 1px solid grey;
  height: 8.6vw;
  width: 32.7vw;
}



.row-three{
  background-color: #76e576;
  border: 1px solid grey;
  height: 8.6vw;
  width: 32.7vw;
}



.row-four{
  background-color: #76e576;
  border: 1px solid grey;
  height: 8.6vw;
  width: 32.7vw;
}



.row-five{
  background-color: #76e576;
  /*border: 1px solid grey;*/
  height: 8.7vw;
  width: 32.8vw;
}



  #display{
    outline: none;
    color: white;
    background-color: #76e576;
    font-size: 35pt;
    display: flex;
    text-align: right;
    height: 8.6vw;
    width: 23.9vw;
    margin-right: 1vw;
 }

  #clear{
    background-color: #76e576;
    float: left;
    color: white;
    font-size: 30pt;
    width: 8.17vw;
    height: 8.6vw;
    margin: 0;
    padding: 0;
    padding-right: -1vw;
    outline: none;
  }


  #clear:hover{
    background-color: #8fbc8f;
    float: left;
    color: white;
    font-size: 30pt;
    width: 8.17vw;
    height: 8.6vw;
    margin: 0;
    padding: 0;
    padding-right: -1vw;
    outline: none;
  }



#seven{
  outline: none;
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
  padding-right: -1vw;
}


#eight{
  outline: none;
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}


#nine{
  outline: none;
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}


#divide{
  outline: none;
  background-color: #8fbc8f;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}



#four{
  outline: none;
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
  padding-right: -1vw;
}


#five{
  outline: none;
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}


#six{
  outline: none;
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}


#multiply{
  outline: none;
  background-color: #8fbc8f;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}



#one{
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
  padding-right: -1vw;
}

#two{
  outline: none;
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}


#three{
  outline: none;
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}


#subtract{
  outline: none;
  background-color: #8fbc8f;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}



#zero{
  outline: none;
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
  padding-right: -1vw;
}


#decimal{
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
  outline: none;
}

#equal{
  outline: none;
  background-color: #76e576;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}

#equal:hover{
  outline: none;
  background-color: #8fbc8f;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}


#add{
  background-color: #8fbc8f;
  float: left;
  color: white;
  font-size: 30pt;
  width: 8.17vw;
  height: 8.6vw;
  margin: 0;
  padding: 0;
}
